# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Natalie_PY\py_web_exm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
